In [ ]:
import numpy as n
r=int(input("enter radius: "))
n.area=pi*r**2
print(area)

In [1]:
import numpy as n
r=int(input("enter radius: "))
n.area=pi*r**2
print(area)

enter radius: 3

NameError: name 'pi' is not defined

In [ ]:
import numpy as n
r=int(input("enter radius: "))
area_of_circle=n.pi*r**2
print("Area of circle is",area_of_circle)

In [ ]:
import numpy as n
r=int(input("enter radius: "))
area_of_circle=n.pi*r**2
print("Area of circle is",area_of_circle)

In [1]:
import numpy as n
r=int(input("enter radius: "))
area_of_circle=n.pi*r**2
print("Area of circle is",area_of_circle)

enter radius: 3
Area of circle is 28.274333882308138

In [2]:
import math as m
r=int(input("enter radius: "))
area_of_circle=m.pi*r**2
print("Area of circle is",area_of_circle)

enter radius: 3
Area of circle is 28.274333882308138

In [7]:
_name=input("enter name: ")
roll_number=int(input("enter roll number: "))
_mark=int(input("enter mark: "))
print("Name:",_name)
print("Roll number:",roll_number)
print("Mark:",_mark)

enter name: Anisha
enter roll number: 21
enter mark: 78
Name: Anisha
Roll number: 21
Mark: 78

In [9]:
A=[12,3,47,10]
max(A)

47

In [2]:
previous_num=0
for i in range(1,11):
    _sum=previous_num+i
    print("current num",i,"previous num",previous_num,"sum: ",_sum)
    previous_num=i

current num 1 previous num 0 sum:  1
current num 2 previous num 1 sum:  3
current num 3 previous num 2 sum:  5
current num 4 previous num 3 sum:  7
current num 5 previous num 4 sum:  9
current num 6 previous num 5 sum:  11
current num 7 previous num 6 sum:  13
current num 8 previous num 7 sum:  15
current num 9 previous num 8 sum:  17
current num 10 previous num 9 sum:  19

In [13]:
def main():
    numbers=[]
for i in range(8):        
    num=int(input("enter number"))
    numbers.append(num)
print("numbers divisible by 5")
for num in numbers:
    if num%5==0:
        print(num)
if __name__=="__main__":
    main()

enter number13,15,5,19.33,20,10,30

ValueError: invalid literal for int() with base 10: '13,15,5,19.33,20,10,30'

In [15]:
num=int(input("enter any num"))
if num>1:
    for i in range(2,num):
        if (num%i)==0:
            print(num,"is not prime")
            break
    else:
        print(num,"is prime")
else:
    print(num,"is not prime")

enter any num7
7 is prime

In [16]:
num=int(input("enter any num"))
if num>1:
    for i in range(2,num):
        if (num%i)==0:
            print(num,"is not prime")
            break
    else:
        print(num,"is prime")
else:
    print(num,"is not prime")

enter any num15
15 is not prime

In [18]:
given_list=[10,40,30,70]
print("input list: ",given_list)
given_list.reverse()
print("output=reversed input list: ",given_list)

input list:  [10, 40, 30, 70]
output=reversed input list:  [70, 30, 40, 10]

In [19]:
for i in range(1,5):
    print("*" * i)

*
**
***
****

In [20]:
S=[34,12,17]
max(S)

34

In [24]:
num_rows=5
for i in range(1,num_rows+1):
    print('*'*i)

for i in range(num_rows-1,0,-1):
    print('*',*i)

*
**
***
****
*****

TypeError: Value after * must be an iterable, not int

In [26]:
num_rows=5
for i in range(1,num_rows+1):
    print('*'*i)

for i in range(num_rows-1,0,-1):
    print('*'*i)

*
**
***
****
*****
****
***
**
*